@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shortcut-card {
    @apply block p-4 rounded-lg font-semibold text-center transition-all duration-200;
  }
}

@layer utilities {
    .sidebar-mini .main-content {
        @apply sm:ml-16;
    }
}

/* Style untuk menu sidebar yang aktif */
.sidebar-active {
    background-color: #374151; /* Warna bg-gray-700 di Tailwind */
    color: #ffffff; /* Warna text-white di Tailwind */
}

/* Juga buat ikonnya menjadi putih saat aktif */
.sidebar-active svg {
    color: #ffffff;
}